<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xft.abscloud.manager.mapper.AbsOrderMapper">
  <resultMap id="BaseResultMap" type="xft.abscloud.manager.pojo.AbsOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="m_grade_id" jdbcType="VARCHAR" property="mGradeId" />
    <result column="member_grade" jdbcType="VARCHAR" property="memberGrade" />
    <result column="total_amount" jdbcType="VARCHAR" property="totalAmount" />
    <result column="pay_type" jdbcType="VARCHAR" property="payType" />
    <result column="pay_time" jdbcType="VARCHAR" property="payTime" />
    <result column="order_status" jdbcType="VARCHAR" property="orderStatus" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
  </resultMap>
  
  <!-- 订单创建 -->
  <insert id="createOrder" parameterType="xft.abscloud.manager.pojo.AbsOrder">
  	INSERT INTO abs_order
  	(
  		order_id,
  		user_id,
  		user_name,
  		number,
  		m_grade_id,
  		member_grade,
  		total_amount,
  		pay_type,
  		order_status,
  		create_time
  	)
  	VALUES
  	(
  		#{entity.orderId},
  		#{entity.userId},
  		#{entity.userName},
  		#{entity.number},
  		#{entity.mGradeId},
  		#{entity.memberGrade},
  		#{entity.totalAmount},
  		#{entity.payType},
  		#{entity.orderStatus},
  		#{entity.createTime}
  	)
  </insert>
  
  <!-- 查询订单列表 -->
  <select id="queryOrderList" parameterType="java.lang.String" resultType="xft.abscloud.manager.pojo.AbsOrder">
  		SELECT 
  			o.order_id as orderId,
	  		o.user_id	as userId,
	  		o.user_name as userName,
	  		o.number,
	  		o.m_grade_id as mGradeId,
	  		o.member_grade as memberGrade,
	  		o.total_amount as totalAmount,
	  		o.pay_type as payType,
	  		o.order_status as orderStatus,
	  		o.pay_time as payTime,
	  		o.create_time  as createTime,
	  		i.invoice_status as invoiceStatus,
	  		v.apply_status as applyStatus
	  	FROM abs_order o
	  	LEFT JOIN abs_invoice i on o.order_id = i.order_id
	  	LEFT JOIN abs_voucher v on v.order_id = o.order_id
  			WHERE 1=1
  		<if test="userId != null and userId !=''">
      		AND o.user_id = #{userId}
    	</if>
    	<if test="orderId != null and orderId !=''">
      		AND o.order_id = #{orderId}
    	</if>
    		AND o.order_status = #{orderStatus}
    		ORDER BY o.create_time DESC
  </select>
  
  <!-- 更新订单支付状态 -->
  <update id="updateOrderStatus" parameterType="java.lang.String">
  	UPDATE abs_order SET
  		order_status = #{orderStatus},
  		pay_type = #{payType},
  		pay_time = #{payTime}
  	WHERE order_id = #{orderId}
  </update>
  
  <!-- 通过订单号查询订单 -->
  <select id="queryOrderById" parameterType="java.lang.String" resultType="xft.abscloud.manager.pojo.AbsOrder">
  		SELECT 
  			order_id as orderId,
	  		user_id	as userId,
	  		user_name as userName,
	  		number,
	  		m_grade_id as mGradeId,
	  		member_grade as memberGrade,
	  		total_amount as totalAmount,
	  		pay_type as payType,
	  		order_status as orderStatus,
	  		pay_time as payTime,
	  		create_time  as createTime
	  	FROM abs_order
	  	WHERE order_id=#{orderId}
  </select>
  
  <!-- 取消订单 -->
  <update id="cancelOrder" parameterType="java.lang.String">
  	UPDATE abs_order SET
  		order_status = #{orderStatus}
  	WHERE order_id = #{orderId}
  </update>
  
  
  <!-- 查询需要可以开发票的订单 -->
  <select id="queryOrderByfp" parameterType="java.lang.String" resultType="xft.abscloud.manager.pojo.AbsOrder">
	  SELECT 
	  	o.order_id as orderId,
  		o.user_id	as userId,
  		o.user_name as userName,
  		o.number,
  		o.m_grade_id as mGradeId,
  		o.member_grade as memberGrade,
  		o.total_amount as totalAmount,
  		o.pay_type as payType,
  		o.order_status as orderStatus,
  		o.pay_time as payTime,
  		o.create_time  as createTime
    FROM abs_order o 
		WHERE NOT EXISTS (SELECT * FROM abs_invoice i WHERE o.order_id = i.order_id)
		<if test="orderId != null and orderId !=''">
      		AND o.order_id = #{orderId}
    	</if>
    	<if test="userId != null and userId !=''">
      		AND o.user_id = #{userId}
    	</if>
		AND o.order_status= #{orderStatus}
  </select>
  
</mapper>