<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xft.abscloud.manager.mapper.LevelEquityMapper" >
  <resultMap id="BaseResultMap" type="xft.abscloud.manager.pojo.LevelEquity" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="level_id" property="levelId" jdbcType="VARCHAR" />
    <result column="equity_id" property="equityId" jdbcType="INTEGER" />
    <result column="usage_counter" property="usageCounter" jdbcType="TINYINT" />
    <result column="order" property="order" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIME" />
  </resultMap>

  <!-- 批量插入 -->
  <insert id="insertForeach" parameterType="java.util.List" useGeneratedKeys="false">
    insert into abs_level_equity(
      level_id,equity_id,usage_counter,`order`,create_time
    )
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (
      #{item.levelId},
      #{item.equityId},
      #{item.usageCounter},
      #{item.order},
      sysdate()
      )
    </foreach>
  </insert>

  <!-- 根据会员等级查询 -->
  <select id="queryEquityList" parameterType="java.lang.String" resultType="java.util.Map">
    select
      l.id as id,
      l.level_id as levelId,
      l.equity_id as equityId,
      l.usage_counter as usageCounter,
      l.order as `order`,
      l.create_time as createTime,
      e.equity_code as equityCode,
      e.equity_name as equityName,
      e.equity_desc as equityDesc,
      e.equity_type as equityType,
      e.equity_prop as equityProp,
      e.perm_code as permCode,
      e.spend_code as spendCode
      from abs_level_equity l
      left join abs_equity e on l.equity_id = e.equity_id
    where l.level_id =#{levelId}
    order by l.order asc
  </select>

  <delete id="deleteByLevelId" parameterType="java.lang.String">
    delete from abs_level_equity
      where level_id =#{levelId}
  </delete>

</mapper>