<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xft.abscloud.manager.mapper.LevelEquityMapper" >
  <resultMap id="BaseResultMap" type="xft.abscloud.manager.pojo.LevelEquity" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="level_id" property="levelId" jdbcType="VARCHAR" />
    <result column="equity_id" property="equityId" jdbcType="INTEGER" />
    <result column="usage_counter" property="usageCounter" jdbcType="TINYINT" />
    <result column="order" property="order" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIME" />
  </resultMap>

  <!-- 新增 -->
  <insert id="add" parameterType="xft.abscloud.manager.pojo.LevelEquity" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
    insert into abs_level_equity(
        level_id,equity_id,usage_counter,`order`,create_time
    )
    values(
      #{levelId},#{equityId},#{usageCounter},#{order},#{createTime}
    )
  </insert>

  <!-- 更新 -->
  <update id="update" parameterType="xft.abscloud.manager.pojo.LevelEquity">
    update abs_level_equity set level_id =#{levelId},equity_id =#{equityId},
      usage_counter =#{usageCounter},`order` =#{order}
    where id = #{id}
  </update>

  <!-- 根据会员等级查询 -->
  <select id="queryListByLevel" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from abs_level_equity
    where level_id =#{levelId}
    order by `order` asc
  </select>

</mapper>